{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
        <table class="table table-striped">
            <tr>
                <th>
                    Symbol
                </th>
                <th>
                    Name
                </th>
                <th>
                    Share
                </th>
                <th>
                    Price
                </th>
                <th>
                    Total
                </th>
            </tr>
            <tr>
                <td>
                    CASH
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    {{cash}}
                </td>
            </tr>
            {% for row in rows %}
                <tr>
                    <td>
                        {{row["symbol"]}}
                    </td>
                    <td>
                        {{row["name"]}}
                    </td>
                    <td>
                        {{row["share"]}}
                    </td>
                    <td>
                        {{row["price"]}}
                    </td>
                    <td>
                        {{row["price"] * row["share"]}}
                    </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}